@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    overflow:hidden;
    font-family: 'Lato', sans-serif;
}
.album p{
	opacity: 0.2;
	font-style: italic;
	position: absolute;
    top: 40%;
    left: 20%;
}
.album span{
	font-style: italic;
}
.team-img{
	position: absolute;
	bottom: 10%;
	left: 0;
}
.friends-img{
	position: absolute;
	bottom: 10%;
	left: 26px;
}
.family-img{
	position: absolute;
	bottom: 10%;
	left: 19%;	
}
.travel-img {
    position: absolute;
    bottom: 30%;
    left: 8px;
    opacity: 0.6;
}
/*.dairy-border{
  border: 16px solid #F4A460;
}*/
.start-page{
	height: 700px;
}
.ccc{
	background-color: #844204;
}
.year-text{
	margin-top: 48px;
}
.year-text p{
	color: #fff;
	line-height: normal;
	margin-bottom: 0;
}
.day-month{
	position: absolute;
	left: 0;
	top: 0;
}
.date{
	position: absolute;
	right: 12px;
	top: 0;
}
.date p{
	color: #4d3542;
    font-size: 30px;
}
.day-month p{
	font-size: 10px;
	margin: 0;
	color: #4d3542;
}
.page-header{
	background-color: #fff;
	padding-bottom: 20px;
}
.dates{
	line-height: normal;
}
.year{
	background-color: #fff;
	line-height: normal;
	padding: 8px;
}
.year ul{
	list-style-type: none;
	padding: 0;
	color: #DAA520;

}
.days{
	transform: rotate(270deg);
	color: #F4A460;
	position: absolute;
    bottom: 0;
}
.album{
	color: #fff!important;
	line-height: normal!important;
}
.memories{
	color: #fff;
	position: absolute;
	bottom: -10px;
	font-weight: 4px;
	font-style: italic;
	right: 10px;
}
.page-footer{
	position: absolute;
	background-color: transparent;
	bottom: 0;
	right: 4px;
	line-height: normal;
}
.page-footer p{
	color: #4d3542;
    font-size: 20px;
    font-weight: 4;
}

/*#flipbook{
    width:800px;
    height:600px;
}*/

#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#4d3542 !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}
.week1{
	background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb)!important;
	line-height: normal!important;
}
.week2{
	background: linear-gradient(to right, #a1ffce, #faffd1)!important;
	line-height: normal!important;
}
.week3{
	background: linear-gradient(to right, #f3904f, #3b4371)!important;
	line-height: normal!important;
}
.week4{
	background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d)!important;
	line-height: normal!important;
}
.week1 p,
.week2 p,
.week3 p,
.week4 p{
	font-style: italic;
}